/* Header Nav */
.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.header-nav > ul {
    margin-top: 10px;
}

.header-nav .nav-icon {
    font-size: 14px; /* D端zeltildi */
    color: #012970;
    margin-right: 15px; /* D端zeltildi */
    position: relative;
}

.header-nav .nav-profile {
    color: #012970;
}

.header-nav .nav-profile img {
    max-height: 30px;
}

.header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
}

.header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px; /* D端zeltildi */
    padding: 2px 4px;
}

.header-nav .notifications,
.header-nav .messages {
    position: absolute;
    right: 200px;
}

.header-nav .notifications .notification-item,
.header-nav .messages .message-item {
    display: flex;
    align-items: center;
    padding: 10px; /* D端zeltildi */
    transition: background-color 0.3s;
}

.header-nav .notifications .notification-item i,
.header-nav .messages .message-item img {
    margin-right: 10px;
    max-height: 20px;
}

.header-nav .notifications .notification-item h4,
.header-nav .messages .message-item h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}

.header-nav .notifications .notification-item p,
.header-nav .messages .message-item p {
    font-size: 12px;
    margin-bottom: 0;
    color: #919191;
}

.header-nav .notifications .notification-item:hover,
.header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
}

.header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
}

.header-nav .profile .dropdown-header span {
    font-size: 14px;
}

.header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.header-nav .profile .dropdown-item i {
    margin-left: 10px;
    font-size: 18px;
    line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
}
